@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
.ml-auto {
  margin-left: auto;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  /* max-width: 960px; */
  margin: 0 auto;
}
nav {
  margin: 0 auto 0 0;
  padding: 0 0 10px;
  display: flex;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
.nav-icons {
  background: #000;
  min-width: 70px;
  height: 40px;
  color: #f2f2f2;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 15px;
  margin-right: 10px;
  display: flex;
  font-weight: 900;
  font-size: 15px;
}
nav .logo {
  /* margin: 10px auto 0 8px; */
  margin-right: 80px;
  margin-left: 15px;
  margin-top: 13px;
  cursor: pointer;
  min-width: 100px;
}
nav .logo img {
  border-radius: 10px;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.sb-example-1 {
  min-width: 415px;
  margin-top: 10px;
  margin-left: 36px;
}
.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
}
.sb-example-1 .searchTerm {
  width: 100%;
  border: 3px solid #ea0121;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.sb-example-1 .searchTerm:focus {
  color: #ea0121;
}
.sb-example-1 .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #ea0121;
  background: #ea0121;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.profile-icon {
  align-items: center;
  display: flex;
  margin-right: 0px;
  min-width: 50px;
  margin-left: auto;
}

.profile-icon img {
  border-radius: 24px;
}
.profile-down-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.prof-image:hover .dropdown-content {
  display: block;
}

.sign-in {
  width: 90px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.auth input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.auth input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.auth input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.auth input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.auth input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url("https://goo.gl/YbktSj");
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508e;
}

button.social-signin.twitter {
  background: #55acee;
}

button.social-signin.google {
  background: #dd4b39;
}
